@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: row;
    }

    .botao {
        margin-top: 5px;
        width: 250px;
    }

    header .menu-trigger.visible{
        display:flex;
        padding-left: 30px;
    }

    .fa-solid.fa-caret-down {
        padding-left: 10px;
    }
    
    .menu-trigger {
        font-family: 'Arial';
        font-size: 16px;
        color: #f9f9f9;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        font-family: 'Arial';
        border-top: 2px solid #f9f9f9;
        display: none;
        position: absolute;
        background-color: #000;
        opacity: 0.8;
        min-width: 160px;
        z-index: auto;
    }

    .dropdown-content a {
        color: #f9f9f9;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #141414;
        color:white;
        font-weight: bold;
    }

    .dropdown:hover .dropdown-content {
        margin-top: 10px;
        display: block;
    }
}



@media screen and (min-width:1000px) {
    .descricao {
        width: 50%;
    }
}